* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../IMG/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
}

.container {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-main {
    width: 480px;
    min-height: 500px;
    margin: auto;
    position: relative;
}

h2,
h5,
h4 {
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 30px;
}

.main {
    width: 480px;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.53);
    position: absolute;
    top: -10px;
}

.layout-main {
    width: 425px;
    height: 320px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

input[type="email"] {
    background: rgba(0, 0, 0, 0.53) url(../IMG/user.png) no-repeat 10px 10px;
}

input[type="password"] {
    background: rgba(0, 0, 0, 0.53) url(../IMG/lock.png) no-repeat 10px 10px;
}

input[type="email"],
input[type="password"] {
    width: 320px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding: 10px 50px;
    margin-top: 20px;
    letter-spacing: 1px;
    color: white;
}

input[type="submit"] {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 115px;
    border: 0px;
    color: white;
    border-radius: 30px;
    background-color: #2dde98;
}

input[type="submit"]:hover {
    background-color: #ff4f81;
}

.footer {
    position: absolute;
    bottom: -35px;
    left: 95px;
}

.footer p {
    color: white;
    font-size: 20px;
}

.footer a {
    display: inline-block;
    background: rgba(0, 0, 0, 0.53);
    color: #2d97de;
    font-weight: 1000;
}